<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ title }}</title>
  <meta name="robots" content="noindex" />

  <link href="{{ '/assets/css/dist.css' | url }}" type="text/css" rel="stylesheet">
</head>

<body>
  <nav class="nsw-skipto nsw-container" aria-label="Skip to links">
    <a class="nsw-skipto__link" href="#content"><span>Skip to content</span></a>
  </nav>
  <div class="nsw-infobar">
    <div class="nsw-container">
      <h2>Prototype</h2>
    </div>
  </div>
</div>
</header>

<main>
  <div class="nsw-container">
    {{ content | safe }}
  </div>
</main>

<footer class="nsw-footer">
  <div class="nsw-footer__lower">
    <div class="nsw-container">
      <p>We pay respect to the Traditional Custodians and First Peoples of NSW, and acknowledge their continued connection to their country and culture.</p>
      <hr>
      <ul class="nsw-footer-links">
        {% if page.url != '/' %}
        <li class="nsw-footer-links__item">
          <a href="{{ '/' | url }}" class="nsw-footer-links__link">Return to prototype list</a>
        </li>
        <li class="nsw-footer-links__item">
          <a href="{{ '/accessibility' | url }}" class="nsw-footer-links__link">Accessibility</a>
        </li>
        {% endif %}
      </ul>
      <div class="nsw-footer__info">
        <p class="nsw-footer__copyright">Copyright © 2020</p>
        <p class="nsw-footer__built">Built using the <a href="https://www.digital.nsw.gov.au/digital-design-system" target="_blank" rel="noopener noreferrer">NSW Design System</a></p>
      </div>
    </div>
  </div>
</footer>

<script src="{{ '/assets/js/dist.js' | url }}"></script>
</body>
</html>
